<?xml version='1.0' encoding='UTF-8'?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
  xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  <servers>
    <server>
      <id>au-tmc-repo</id>
      <username>${env.BT_USERNAME}</username>
      <password>${env.BT_API_TOKEN}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>au-tmc-ext</id>
      <repositories>
        <repository>
          <id>au-tmc-ext</id>
          <url>https://autonomic.bintray.com/au-tmc-ext</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>au-tmc-ext</id>
          <url>https://autonomic.bintray.com/au-tmc-ext</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>au-tmc-ext</activeProfile>
  </activeProfiles>
</settings>
